**1.	Load the CSV file and show the first 5 rows.**

In [3]:
import pandas as pd
data=pd.read_csv('/content/pandas practice_dataset.csv')
data.head(5)

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5
1,2,Leena,HR,Male,38,53938.0,2019-02-27,Pune,4.1,4.8
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6
3,4,Shreya,Marketing,Female,25,31636.0,2024-02-16,Pune,9.1,4.9
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9

**2.	Check the shape of the dataframe.**

In [6]:
data.shape

(50, 10)

**3.	Display column names and data types.**

In [12]:
print("columns",data.columns)
print("Data types",data.dtypes)

columns Index(['ID', 'Name', 'Department', 'Gender', 'Age', 'Salary', 'JoiningDate',
       'City', 'Experience', 'Rating'],
      dtype='object')
Data types ID               int64
Name            object
Department      object
Gender          object
Age              int64
Salary         float64
JoiningDate     object
City            object
Experience     float64
Rating         float64
dtype: object

4.	Show summary **statistics**

In [14]:
data.describe()

             ID        Age        Salary  Experience     Rating
count  50.00000  50.000000     45.000000   50.000000  45.000000
mean   25.50000  32.740000  61688.200000    5.608000   3.888889
std    14.57738   6.514693  15708.593526    2.637395   0.732437
min     1.00000  22.000000  30197.000000    1.000000   2.500000
25%    13.25000  28.000000  52671.000000    3.250000   3.300000
50%    25.50000  32.500000  58673.000000    6.150000   3.900000
75%    37.75000  38.000000  74417.000000    7.500000   4.500000
max    50.00000  44.000000  85680.000000    9.800000   5.000000

**5.	Check which columns have missing values**

In [17]:
data.isnull().sum()

ID             0
Name           0
Department     0
Gender         0
Age            0
Salary         5
JoiningDate    0
City           5
Experience     0
Rating         5
dtype: int64

**6.	Find unique values and value counts for the Department column**

In [33]:
print("unique",data["Department"].unique())
print("value",data["Department"].value_counts())

unique ['IT' 'HR' 'Marketing' 'Finance' 'Sales']
value Department
Finance      14
IT           12
HR           10
Marketing     9
Sales         5
Name: count, dtype: int64